<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8" />
            <title>Hierarchical Treeview</title>
            <script>document.write('<base href="' + document.location + '" />');</script>
            <link rel="stylesheet" href="style.css" />
            <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
            <script src="app.js"></script>
        </head>
	<body>
		<div ng-app="myApp">
			<div ng-controller="myCtrl">
				<!-- Nested node template -->
				<script type="text/ng-template" id="nodes_renderer.html">
					<div ui-tree-handle id="c1" class="tree-node tree-node-content">
					  <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
					  class="glyphicon"
					  ng-class="{
					    'glyphicon-chevron-right': collapsed,
					    'glyphicon-chevron-down': !collapsed
					  }"></span></a> {{node.title}}
					  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
					  class="glyphicon glyphicon-remove"></span></a>
					  <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
					  class="glyphicon glyphicon-plus"></span></a>
					</div>
					<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
					  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
					  </li>
					</ol>
				</script>

				<div class="row">
					<div class="col-sm-12">
						<h3>UNLIMITED HIERARCHICAL CATEGORY TREE VIEW</h3>

						<button class="btn1" ng-click="expandAll()">
							EXPAND ALL
						</button>
						<button class="btn1" ng-click="collapseAll()">
							COLLAPSE ALL
						</button>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div ui-tree id="tree-root">
							<ol ui-tree-nodes ng-model="data">
								<li
									ng-repeat="node in data"
									ui-tree-node
									ng-include="'nodes_renderer.html'"
								></li>
							</ol>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="info">
							{{info}}
						</div>
						<pre class="code">{{ data | json }}</pre>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
